<form [formGroup]="changePasswordForm" (ngSubmit)="submitForm()">
  <!-- Old password -->
  <div class="form-group">
    <label for="oldPassword">Old Password</label>
    <input
      type="password"
      id="oldPassword"
      class="form-control"
      formControlName="oldPassword"
      (change)="log(oldPassword)"
    />
    <div *ngIf="oldPassword?.pending" class="alert alert-info">
      Checking Password
      <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
    </div>
    <div
      *ngIf="oldPassword?.touched && oldPassword?.invalid"
      class="alert alert-danger"
    >
      <div *ngIf="oldPassword?.errors?.['required']">Old Password Required</div>
      <div
        *ngIf="!oldPassword?.pending && oldPassword?.errors?.['passwordNotMatched']"
      >
        Incorrect Password
      </div>
    </div>
  </div>
  <!-- New Password -->
  <div class="form-group">
    <label for="newPassword">New Password</label>
    <input
      formControlName="newPassword"
      type="password"
      id="newPassword"
      class="form-control"
    />
    <div
      *ngIf="newPassword?.touched && newPassword?.invalid"
      class="alert alert-danger"
    >
      <div *ngIf="newPassword?.errors?.['required']">New Password Required</div>
    </div>
  </div>
  <!-- Confirm Password -->
  <div class="form-group">
    <label for="confirmPassword">Confirm Password</label>
    <input
      formControlName="confirmPassword"
      type="password"
      id="confirmPassword"
      class="form-control"
      (change)="log(confirmPassword)"
    />
    <div
      *ngIf="confirmPassword?.touched && confirmPassword?.invalid"
      class="alert alert-danger"
    >
      <div *ngIf="confirmPassword?.errors?.['required']">
        Confirm Password Required
      </div>
    </div>
    <div
      class="alert alert-danger"
      *ngIf="confirmPassword?.valid && changePasswordForm.invalid && changePasswordForm?.errors?.['notConfirmed']"
    >
      Password not matched
    </div>
  </div>
  <!-- Submit -->
  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="changePasswordForm.invalid"
  >
    Change Password
  </button>
</form>
